
h2 {
  color: #e5771e;
  font_size: 48px;
}

body {
  background-color: #5a3d2b;
  font-family: 'Abril Fatface', cursive;;
}

h1 {
  text-align: Center;
  font_size: 100px;
  color: #f4a127
}

.left {
  float: left;
  margin-right: 1em;
}


img {
  height: 200px;
  width: 50%
  background_color: black
}



.imageBox {
  float: right;
  position: absolute;
  visibility: hidden;
  padding: 5px;
}
